<div class="page-div">
    <h1 class="page-title">About</h1>

    <div class="about-me-div">
        <div style="display: table-row; ">
            <!-- left side: about me picture -->
            <div class="about-me-left-div">
                <div class="about-me-picture-container">
                    <img class="about-me-picture" src="../../images/about-pic.jpg">
                </div>
            </div>
            <!-- right-side: about me text -->
            <div class="about-me-right-div">
                <div id="about-me-text">
                    <script>
                        $("#about-me-text").load("page-contents/common-contents/about-me-text.html");
                    </script>
                </div>
            </div>

        </div>
    </div>

</div>