<div class="page-div">
    <h1 class="page-title">Contact</h1>

    <div style=" width: 100%; max-height: 400px">

        <!-- Contact form -->
        <div class="contact-form-container">
            <div class="container">
                <form id="contact" action="https://formspree.io/adam@jaamour.com" method="POST">
                    <h3 class="contact-form-title">Get In Touch!</h3>
                    <fieldset>
                        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                    </fieldset>
                    <fieldset>
                        <input placeholder="Your Email Address" type="email" tabindex="2" required>
                    </fieldset>
                    <fieldset>
                        <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                    </fieldset>
                    <fieldset>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <!-- Google Maps -->
        <div class="map-container">
            <div id="google_map"></div>
            <script>
                initMap()
            </script>
            <script>
                loadGoogleMapsUrl()
            </script>
        </div>

    </div>

</div>