<div class="page-mobile-div">
    <h1 class="page-title">Contact</h1>

    <!-- Contact details -->
    <div class="contact-box">
        <!-- email -->
        <div class="single-contact-container">
            <a id="mail-icon" href="mailto:adam@jaamour.com"></a>
            <a class="contact-text" href="mailto:adam@jaamour.com">adam@jaamour.com</a>
        </div>
        <!-- UK phone number -->
        <div class="single-contact-container">
            <div id="phone-icon"></div>
            <span class="contact-text">+44 7927 986941 (Bath, UK)</span>
        </div>
        <!-- French phone number -->
        <div class="single-contact-container">
            <div id="phone-icon"></div>
            <span class="contact-text">+33 6 11 90 50 19 (Monaco)</span>
        </div>
    </div>

    <hr>

    <!-- Google Maps -->
    <div style=": 100px">
        <div id="google_map_mobile"></div>
        <script>
            initMap()
        </script>
        <script>
            loadGoogleMapsUrl()
        </script>
    </div>

</div>