<div class="page-div">
    <h1 class="page-title">Contact</h1>

    <div style="width: 100%; overflow: auto"> <!-- Div used to separate page in 2 centered halves -->
        <!-- Google Maps -->
        <div class="map-container">
            <div id="google_map"></div>
            <script>
                initMap()
            </script>
            <script>
                loadGoogleMapsUrl()
            </script>
        </div>

        <!-- Contact details -->
        <div class="contact-information-container">
            <div style="float: left" class="contact-box">
                <!-- email -->
                <div class="single-contact-container">
                    <a id="mail-icon" href="mailto:adam@jaamour.com"></a>
                    <a class="contact-text" href="mailto:adam@jaamour.com">adam@jaamour.com</a>
                </div>
                <!-- UK phone number -->
                <div class="single-contact-container">
                    <div id="phone-icon"></div>
                    <span class="contact-text">+44 7927 986941 (Bath, UK)</span>
                </div>
                <!-- French phone number -->
                <div class="single-contact-container">
                    <div id="phone-icon"></div>
                    <span class="contact-text">+33 6 11 90 50 19 (Monaco)</span>
                </div>
            </div>
        </div>
    </div>

</div>