<div class="page-div">
    <h1 class="page-title">Mashups</h1>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Mystic Sonic Boom - </h2>
            <div class="popup" id="click-mashup-1" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-1">
                    <span style="float: left;"><strong>Mystic Sonic Boom:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Mystica - Blasterjaxx<br>Sonica - Yves V
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146231698&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>

    <hr>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">What Sparkle Motion Feels Like - </h2>
            <div class="popup" id="click-mashup-2" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-2">
                    <span style="float: left;"><strong>What Sparkle Motion Feels Like:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Committed to Sparkle Motion (Dubvision Remix) - Discopolis<br>This Is What It Feels Like - Armin van Buuren
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/136022373&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>

    <hr>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Raving Star - </h2>
            <div class="popup" id="click-mashup-3" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-3">
                    <span style="float: left;"><strong>Raving Star:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Raveology - DVBBS & VINAI<br>Yee - Deorro<br>Starlight (Otto Knows Remix) - Don Diablo & Matt Nash
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133573525&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>

    <hr>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Speeding Up Animals - </h2>
            <div class="popup" id="click-mashup-4" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-4">
                    <span style="float: left;"><strong>Speeding Up Animals:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Tsunami - DVBBS & Borgeous<br>Animals - Martin Garrix<br>Speed Up - Funkerman
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/121643693&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>

    <hr>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Ain't a Party Without Getting Ridiculous - </h2>
            <div class="popup" id="click-mashup-5" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-5">
                    <span style="float: left;"><strong>Ain't a Party Without Getting Ridiculous:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Let's Get Ridiculous - Redfoo<br>Ain't a Party - David Guetta & GlowinTheDark
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/120402695&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>
</div>