<div class="page-div">
    <h1 class="page-title">Mixtapes</h1>
    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Deeper 2.0 - </h2>
            <div class="popup" id="click-mixtape-1" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mixtape-1">
                    <span style="float: left;"><strong>Deeper 2.0:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Hot Skin - Sam Feldt & Kav Verhouzer<br>Are You With Me - Lost Frequencies<br>Something New (Robin Schulz Remix) - Axwell Λ Ingrosso<br>My Love (Henry Krinkle Edit) - Route 94<br>Faded - ZHU<br>Frequency - Watermat & TAI<br>Need Someone - Cleavage<br>Celebrate Life (Extended Mix) - Eelke Kleijn<br>Show Me Love (EDX's Indian Summer Remix) - Sam Feldt
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206258701&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>

    <hr>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Deeper 1.0 - </h2>
            <div class="popup" id="click-mixtape-2" onclick="showPopup(this.id)"><h2>View Tracklist</h2>
                <span class="popuptext" id="mixtape-2">
                    <span style="float: left;"><strong>Deeper 1.0:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Eagle Eyes - Felix Jaehn feat. Lost Frequencies & Linying<br>Feel So Good - Mr. Belt & Wezol<br>Otherside - Red Hot Chilli Peppers (Gamper & Dadoni Remix)<br>Someone - Kayper (Club Edit)<br>Bullit - Watermät<br>Satisfaction (Trashyouth Remix)
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179050623&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>

    <hr>

    <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Summer Is Coming Party Mixtape - </h2>
            <div class="popup" id="click-mixtape-3" onclick="showPopup(this.id)"><h2>View Tracklist</h2>
                <span class="popuptext" id="mixtape-3">
                    <span style="float: left;"><strong>Summer Is Coming Party Mixtape:</strong></span>
                    <span style="float: right;">[X]</span>
                    <br>Spaceman - Hardwell (00:00 to 02:23)<br>In Yo Face - Apster (02:23 to 03:26)<br>Astronaut - Blasterjaxx & Ibranovski (03:26 to 06:10)<br>Invicible - Borgeous (06:11 to 10:01)<br>Black Mask - Don Diablo (10:01 to 12:03)<br>Under Control - Alesso & Calvin Harris (12:03 to 13:38)<br>Raise Your Hands - Ummet Ozcan (13:39 to 17:22)<br>Blame It On Love - Michael Mendoza (17:22 to 19:54)<br>Vicious - Ibranovski (19:54 to 23:52)
                </span>
            </div>
        </span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143047763&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
    </iframe>
</div>