<div class="page-mobile-div">
    <h2 class="page-title">Apple Music Playlists</h2>
    <div style="text-align: center;">
        <iframe src="https://embed.music.apple.com/gb/playlist/sunday-chill/pl.u-qxylA36sG5yqDZ?app=music"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                height="400px"
                width="80%"
                frameborder="0">
        </iframe>
        <hr>
        <iframe src="https://embed.music.apple.com/gb/playlist/party-classic-hits/pl.u-55D6zLlsVoeWrq?app=music"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                height="400px"
                width="80%"
                frameborder="0">
        </iframe>
        <hr>
        <iframe src="https://embed.music.apple.com/gb/playlist/party-new-hits/pl.u-06oxr1bFoPxzZv?app=music"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                height="400px"
                width="80%"
                frameborder="0">
        </iframe>
        <hr>
        <iframe src="https://embed.music.apple.com/gb/playlist/oldies-but-goldies/pl.u-55D6zx3cVoeWrq?app=music"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                height="400px"
                width="80%"
                frameborder="0">
        </iframe>
    </div>
</div>