<div class="page-mobile-div">
    <h2 class="page-title">Playlists</h2>
    <iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-4JomzvmsmY07Pg?country=gb"
            height="500px"
            width="100%"
            frameborder="0">
    </iframe>
    <hr>
    <iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-qxylA36sG5yqDZ?country=gb"
            height="500px"
            width="100%"
            frameborder="0">
    </iframe>
    <hr>
    <iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-55D6XPyCVoeWrq?country=gb"
            height="500px"
            width="100%"
            frameborder="0">
    </iframe>
    <hr>
    <iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-55D6zx3cVoeWrq?country=gb"
            height="500px"
            width="100%"
            frameborder="0">
    </iframe>
</div>