<footer class="footer-distributed">

    <div class="footer-right">
        <a href="https://itunes.apple.com/profile/adamouization">
            <img class="footer-icons" src="images/apple.png" height="32px" width="32px">
        </a>
        <a href="https://soundcloud.com/adamouization">
            <img class="footer-icons" src="images/soundcloud.png">
        </a>
        <a href="https://twitter.com/Adamouization">
            <img class="footer-icons" src="images/twitter.png">
        </a>
        <a href="http://instagram.com/adamouization">
            <img class="footer-icons" src="images/instagram.png">
        </a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="views/pages/mixtapes.html">Mixtapes</a>
            ·
            <a href="views/pages/mashups.html">Mashups</a>
            ·
            <a href="views/pages/playlists.html">Playlists</a>
            ·
            <a href="views/pages/about.html">About</a>
            ·
            <a href="views/pages/contact.html">Contact</a>
        </p>
        <p>
            <a href="views/pages/terms.html" class="footer-link">Terms & Conditions</a>
            ·
            AdamouizationMusic, Adam Jaamour &copy; 2014-2018
        </p>
    </div>

</footer>