<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Adam Jaamour">

    <title>Adam Jams</title>

    <!-- Favicon -->
    <link rel='shortcut icon' href='../../images/favicon.ico' />

    <!-- Home Screen Icons -->
    <link rel="apple-touch-icon" sizes="40x40" href="../../images/ios-icons/Icon-App-20x20@2x.png">
    <link rel="apple-touch-icon" sizes="58x58" href="../../images/ios-icons/Icon-App-29x29@2x.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/ios-icons/Icon-App-20x20@3x.png">
    <link rel="apple-touch-icon" sizes="80x80" href="../../images/ios-icons/Icon-App-40x40@2x.png">
    <link rel="apple-touch-icon" sizes="87x87" href="../../images/ios-icons/Icon-App-29x29@3x.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/ios-icons/Icon-App-57x57@2x.png"><!-- iphone retina -->
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/ios-icons/Icon-App-40x40@3x.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/ios-icons/Icon-App-72x72@2x.png"><!-- ipad retina -->
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/ios-icons/Icon-App-76x76@2x.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../../images/ios-icons/Icon-App-83.5x83.5@2x.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/ios-icons/Icon-App-60x60@3x.png">
    <link rel="apple-touch-icon" sizes="228x228" href="../../images/ios-icons/Icon-App-76x76@3x.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116916521-1"></script>
    <script type="text/javascript" src="../../scripts/google-analytics.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../styles/theme.css" rel="stylesheet">
    <link href="../../styles/custom.css" rel="stylesheet">
    <link href="../../styles/sticky-footer.css" rel="stylesheet">
    <link href="../../styles/footer-distributed.css" rel="stylesheet">
    <link href="../../styles/playlists.css" rel="stylesheet">
    <link href="../../styles/popups.css" rel="stylesheet">
    <link href="../../styles/contact-form.css" rel="stylesheet">

    <!-- Custom scripts -->
    <script src="../../scripts/html-loaders.js"></script>
    <script src="../../scripts/helpers.js"></script>
    <script src="../../scripts/google-maps.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div class="content">

    <!-- Header -->
    <div id="header">
        <script>
            loadHeader();
        </script>
    </div>

    <!-- Navbar -->
    <div id="navbar">
        <script>
            $("#navbar").load("../shared/navbar-holder.html");
        </script>
    </div>

    <!-- Content -->
    <div id="about-page-contents">
        <script>loadAboutPageContent()</script>
    </div>

</div>

<!-- Footer -->
<div id="footer">
    <script>
        loadFooter();
    </script>
</div>

</body>
</html>