<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Adam Jaamour">

    <title>AdamouizationMusic</title>

    <!-- Favicon -->
    <link rel='shortcut icon' href='../../images/favicon.ico' />

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../styles/theme.css" rel="stylesheet">
    <link href="../../styles/custom.css" rel="stylesheet">
    <link href="../../styles/sticky-footer.css" rel="stylesheet">
    <link href="../../styles/footer-distributed.css" rel="stylesheet">
    <link href="../../styles/playlists.css" rel="stylesheet">
    <link href="../../styles/popups.css" rel="stylesheet">

    <!-- Custom scripts -->
    <script src="../../scripts/html-loaders.js"></script>
    <script src="../../scripts/helpers.js"></script>
    <script src="../../scripts/google-maps.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div class="content">

    <!-- Header -->
    <div id="header">
        <script>
            loadHeader();
        </script>
    </div>

    <!-- Navbar -->
    <div id="navbar">
        <script>
            $("#navbar").load("../shared/navbar-holder.html");
        </script>
    </div>

    <!-- Content -->
    <div class="page-div">
        <h1 class="page-title">Mashups</h1>

        <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Mystic Sonic Boom - </h2>
            <div class="popup" id="click-mashup-1" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-1">
                    <strong>Mystic Sonic Boom:</strong><br>Mystica - Blasterjaxx<br>Sonica - Yves V
                </span>
            </div>
        </span>
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146231698&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
        </iframe>

        <hr>

        <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">What Sparkle Motion Feels Like - </h2>
            <div class="popup" id="click-mashup-2" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-2">
                    <strong>What Sparkle Motion Feels Like:</strong><br>Committed to Sparkle Motion (Dubvision Remix) - Discopolis<br>This Is What It Feels Like - Armin van Buuren
                </span>
            </div>
        </span>
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/136022373&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
        </iframe>

        <hr>

        <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Raving Star - </h2>
            <div class="popup" id="click-mashup-3" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-3">
                    <strong>Raving Star:</strong><br>Raveology - DVBBS & VINAI<br>Yee - Deorro<br>Starlight (Otto Knows Remix) - Don Diablo & Matt Nash
                </span>
            </div>
        </span>
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133573525&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
        </iframe>

        <hr>

        <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Speeding Up Animals - </h2>
            <div class="popup" id="click-mashup-4" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-4">
                    <strong>Speeding Up Animals:</strong><br>Tsunami - DVBBS & Borgeous<br>Animals - Martin Garrix<br>Speed Up - Funkerman
                </span>
            </div>
        </span>
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/121643693&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
        </iframe>

        <hr>

        <span class="soundcloud-track-title-with-popup-div">
            <h2 class="soundcloud-track-title">Ain't a Party Without Getting Ridiculous - </h2>
            <div class="popup" id="click-mashup-5" onclick="showPopup(this.id)">
                <h2>View Tracklist</h2>
                <span class="popuptext" id="mashup-5">
                    <strong>Ain't a Party Without Getting Ridiculous:</strong><br>Let's Get Ridiculous - Redfoo<br>Ain't a Party - David Guetta & GlowinTheDark
                </span>
            </div>
        </span>
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/120402695&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
        </iframe>
    </div>

</div>

<!-- Footer -->
<div id="footer">
    <script>
        loadFooter();
    </script>
</div>

</body>
</html>