/* Custom CSS styles */

.page-title {
    color: white;
    font-weight: bold;
}

.page-div {
    padding: 15px 40px;
}

hr {
    opacity: 0;
}

/* used to invert colors of social icons images */
img {
    -webkit-filter: invert(1);
    filter: invert(1);
}