/* Custom CSS styles */

.page-title {
    color: white;
    font-weight: bold;
}

.page-div {
    padding: 15px 40px;
}

.legal-text {
    background-color: rgba(0,0,0,0.25);
    padding: 10px 15px;
    color: #FFF;
}

hr {
    opacity: 0;
}

/* used to invert colors of social icons images */
img {
    -webkit-filter: invert(1);
    filter: invert(1);
}